/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1f38;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* el grandesito */
  .container {
    display: flex;
    width: 100%;     /* Largo es width  */
    max-width: 1800px;
    height: 800px;
    background-color: #202944;
    border-radius: 15px;  /* borde redodeados */
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
  }

  .containerB {
    display: flex;
    width: 100%;     /* Largo es width  */
    max-width: 1800px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 15px;  /* borde redodeados */
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
  } 

.text-content h2 {
    margin: 0; /* Quita márgenes extra del encabezado */
}

.text-content p {
    margin: 0.2rem 0; /* Espaciado entre los párrafos */
}

  .conttenedor {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 2rem; /* Espacio entre la imagen y el texto */
    
}
   
  .text-content p {
    margin: 5px 0;
    line-height: 1.5;
    color: #ffffff;
}

  /* Panel izquierdo */
  .sidebar {
    width: 30%;
    background-color: #AFA4F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .sidebar img {
    width: 200px;
    height: 200px;
    background-color: #DBD0EE;
    border-radius: 50%;
    margin-bottom: 70px;
  }

  .sidebarIndex img {
    width: 200px;
    height: 200px;
    background-color: #DBD0EE;
    border-radius: 50%;
    margin-bottom: 70px;
  }
  
  .sidebar h2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .sidebar p {
    margin: 5% 0;
    font-size: 16px;
    font-weight: 300;
  }
  .subrayado { 
    display: inline-block; /* Permite ajustar el ancho al texto */
    width: 95%; /* Línea que abarca de extremo a extremo */
    border-bottom: 1px solid rgb(255, 255, 255); /* Estilo de la línea */
    text-align: center; 
  }
    
  /* Panel derecho */
  .main-content {
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  /* Botones  */
  .btn-link {
    text-decoration: none; /* elimina lso decos*/
    color: inherit;  
}

.card {
  background: linear-gradient(135deg, #AFA4F2 50%, #65558F 50%); /*  diagonal */
  padding: 60px;
  width: 140px ;  
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(26, 26, 26, 0.2);
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
  display: inline-block;
}

  
  .card:hover {
    transform: translateY(-5px);
    background-color: #AFA4F2;
  }
  
  .card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff
  }
  
  .card p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 300;
    
  }


   
  .LineaBlanca {
    display: flex;
    flex-direction: column;
  justify-content: center; /* centrar horizontalmente */
  align-items: center; /* centrar verticalmente */
  width: 100%; 
  max-width: 100%; /*ocupar todo el largo al 100 %*/
  max-height: 100%;
  height: 150px; /* Altura de la franja */
  background-color: #fdfdfd; /* Color de fondo blanco */
  color: #000000;
  overflow: hidden; /*sobreponer */
  margin: 50px 0 0 0; /* ubicacion altura de la fraja */
  font-size: 30px; /* tamaño de letra  */
  }

  .FondoBlanco {
    display: flex;
  justify-content: center; /* centrar horizontalmente */
  align-items: center; /* centrar verticalmente */
  width: 100%; 
  max-width: 100%; /*ocupar todo el largo al 100 %*/
  max-height: 100%;
  height: 85%; /* Altura de la franja */
  background-color: #fdfdfd; /* Color de fondo   */
  overflow: hidden;  
  margin: 50px 0 0 0; /* ubicacion altura de la fraja */
    
  }